[package]
name = "evalvana"
version = "0.1.0"
authors = ["ThatsNoMoon <ThatsNoMoon.Alderaan@gmail.com>"]
edition = "2018"

[dependencies]
winit = "0.22"
wgpu = "0.4"
env_logger = "0.7"
log = "0.4"
zerocopy = "0.2"
memoffset = "0.5"
wgpu_glyph = "0.7"
crossbeam-channel = "0.4"
image = "0.23"

[build-dependencies]
shaderc = "0.6"