[package]
name = "evalvana"
version = "0.1.0-alpha.1"
authors = ["Benjamin Scherer <ThatsNoMoon.Alderaan@gmail.com>"]
repository = "https://github.com/ThatsNoMoon/evalvana"
description = "An early WIP REPL environment for any language with a plugin."
readme = "README.md"
license = "OSL-3.0"
edition = "2018"

[dependencies]
iced = "0.2"
env_logger = "0.8"
