[package]
name = "evalvana"
version = "0.1.0"
authors = ["Benjamin Scherer <ThatsNoMoon.Alderaan@gmail.com>"]
edition = "2018"

[dependencies]
winit = "0.22"
wgpu = "0.4"
env_logger = "0.7"
log = "0.4"
zerocopy = "0.2"
memoffset = "0.5"
wgpu_glyph = "0.7"
crossbeam-channel = "0.4"
image = "0.23"
euclid = "0.20"
num-traits = "0.2"
static_assertions = "1.1"
lyon_tessellation = "0.15"
cfg-if = "0.1"
#tinyvec = { version = "0.3", features = ["alloc"] }
# using my fork until PR #74 is merged, fixing tiny_vec! for non-Copy types
tinyvec = { git = "https://github.com/ThatsNoMoon/tinyvec", features = ["alloc"] }

[build-dependencies]
shaderc = "0.6"
